{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="jumbotron text-center">
        <h1>Agence Lorem</h1>
            <p> lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
    </p></div>

{% endblock %}


